In [4]:
import pandas as pd
import numpy as np

wine_df = pd.read_csv('/content/winequality-red.csv', sep=';')
display(wine_df.head())
np.mean(wine_df,axis = 0)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.270976
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
dtype: float64

In [5]:
#What exactly is axis and what effect does it have on the displayed content
# In NumPy and Pandas, the 'axis' parameter specifies the dimension along which an operation is performed.
# - When 'axis=0' (the default for some functions), the operation is applied column-wise. This means the function will compute a result for each column.
#   For example, `np.mean(df, axis=0)` calculates the mean of each column in the DataFrame `df`.
# - When 'axis=1', the operation is applied row-wise. This means the function will compute a result for each row.
# In the executed cells, `np.mean(wine_df, axis=0)` and `np.median(wine_df, axis=0)` calculate the mean and median for each column, respectively, across all rows of the `wine_df` DataFrame.

In [6]:
np.median(wine_df,axis = 0)
np.median(wine_df) #here no axis is used so the code will flatten the DataFrame and calculate a single median value from all the data.

np.float64(3.12)

In [7]:
print("Percentile at 50% :",np.percentile(wine_df,50))
print()
print("Percentile at 75% :",np.percentile(wine_df,75))
print()
print("Percentile at 25% :",np.percentile(wine_df,25))
print()
print("Percentile at 100% :",np.percentile(wine_df,100))
print()
print("Percentile at 0% :",np.percentile(wine_df,0))

print("\n\tNote that the percentile at 50% and the Median of the Data Frame is same (3.12)")

Percentile at 50% : 3.12

Percentile at 75% : 8.9

Percentile at 25% : 0.59

Percentile at 100% : 289.0

Percentile at 0% : 0.0

	Note that the percentile at 50% and the Median of the Data Frame is same (3.12)

In [12]:
print("The np.average(wine_df) is :",np.average(wine_df))
print("This Average value is the same as the Mean")
print("The Mean is :",np.mean(wine_df))

The np.average(wine_df) is : 7.926036165311652
This Average value is the same as the Mean
The Mean is : 7.926036165311652

Standard deviation (SD) is a statistical measure of how dispersed or spread out data values are relative to their mean (average). A low SD indicates data points are clustered closely around the mean, while a high SD shows data is spread over a wider range. It is calculated as the square root of the variance.

In [15]:
np.std(wine_df) # Standard Deviation

fixed acidity            1.740552
volatile acidity         0.179004
citric acid              0.194740
residual sugar           1.409487
chlorides                0.047051
free sulfur dioxide     10.456886
total sulfur dioxide    32.885037
density                  0.001887
pH                       0.154338
sulphates                0.169454
alcohol                  1.065334
quality                  0.807317
dtype: float64

Variance is a statistical measure of the dispersion or spread of data points around their mean (average) value . A high variance indicates widely scattered data, while low variance indicates data clustered close to the mean. It is calculated as the average of the squared differences from the mean, and its square root is the standard deviation.

In [16]:
np.var(wine_df) #variance

/usr/local/lib/python3.12/dist-packages/numpy/_core/fromnumeric.py:4006: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

fixed acidity              3.029521
volatile acidity           0.032042
citric acid                0.037924
residual sugar             1.986654
chlorides                  0.002214
free sulfur dioxide      109.346457
total sulfur dioxide    1081.425636
density                    0.000004
pH                         0.023820
sulphates                  0.028715
alcohol                    1.134937
quality                    0.651761
dtype: float64

In [19]:
wine_df.mode()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.2,0.6,0.0,2.0,0.08,6.0,28.0,0.9972,3.3,0.6,9.5,5

In [27]:
# print(wine_df.alcohol())
wine_df.chlorides

0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
1594    0.090
1595    0.062
1596    0.076
1597    0.075
1598    0.067
Name: chlorides, Length: 1599, dtype: float64

In [28]:
np.absolute(wine_df) #show full table just like pandas display(head()) function

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6